<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkboxes</title>
</head>
<body>
    <form method="POST" action="/checkbox">
        Checkbox 1 <input type="checkbox" name="mycheckbox" value="1"> <br>
        Checkbox 2 <input type="checkbox" name="mycheckbox" value="2"> <br>
        Checkbox 3 <input type="checkbox" name="mycheckbox" value="3"> <br>
        <! -- input type="button" title="checkbox submit" -->
        <input type="submit" value="Click Me!!">
    </form>
</body>
</html>
