<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown example!</title>
</head>
<body>
<form method="POST" action="/dropdown">
    <label for="carsdropdown">Choose a car:</label>
    <select id="carsdropdown" name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
    <input type="submit" value="After selecting something, click me!!">
</form>
</body>
</html>
